/* Ajuste de márgenes para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    margin-left: 3px;

  }
}

/* Ajuste de márgenes para pantallas grandes */
@media (min-width: 1024px) {
  .container {
    margin-left: 1px;
  }
}

.container {
  margin-left: 3px;
}